<div class="d-flex">
    <div id="anime-main-section" class="px-3">
        <div id="title-section">
            <strong>{{anime.title}}</strong>
            <span id="anime-quick-info-section" class="ps-2"><strong>{{anime.year}} | {{anime.mediaType}} | {{anime.episodeCount}} Episodes</strong></span>
            <span id="admin-link" class="ps-2"><a routerLink="../../update-anime/{{anime.id}}">Update entry</a></span>
        </div>
        <div><strong id="anime-score">{{anime.score}}% Overall Rating</strong></div>
        <div class="mt-2">{{anime.description}}</div>
        <ul id="anime-categories-list" class="d-flex flex-wrap flex-row ps-0 mt-5">
            @for (cat of anime.categories; track cat) {
                <li class=""><a href="javascript:void(0);" routerLink="/home/category/{{cat.name}}">{{cat.name}}</a></li>
            }
        </ul>
    </div>
    <div id="anime-more-details">
        <div class="p-3 px-4">
            <h6><strong>Anime Details</strong></h6>
            <ul>
                <li *ngIf="anime.englishTitle"><strong>English</strong><span>{{anime.englishTitle}}</span></li>
                <li *ngIf="anime.japaneseTitle"><strong>Japanese</strong><span>{{anime.japaneseTitle}}</span></li>
                <li *ngIf="anime.japaneseTitleRomaji"><strong>Japanese (Romaji)</strong><span>{{anime.japaneseTitleRomaji}}</span></li>
                <li *ngIf="anime.releaseStatus"><strong>Status</strong><span>{{anime.releaseStatus}}</span></li>
                <li *ngIf="anime.season"><strong>Season</strong><span>{{anime.season}}</span></li>
                <li *ngIf="anime.tvRating"><strong>Rating</strong><span>{{anime.tvRating}}</span></li>
                <li *ngIf="anime.episodeLength"><strong>Episode Length</strong><span>{{anime.episodeLength}} min.</span></li>
            </ul>
        </div>
    </div>
</div>