/*CENTER SECTION*/
#anime-main-section {
    width: 73%;
}

#title-section {
    font-size: 1.5rem;
}

#anime-quick-info-section {
    font-size: 0.9rem;
    color: var(--text-gray);
}

#admin-link {
    font-size: 0.9rem;
}

#anime-score {
    color: #06c332;
}

#anime-categories-list {
    list-style: none;
}

#anime-categories-list li {
    background-color: var(--background-white);
    border: 1px solid var(--border-lightgray);
}

#anime-categories-list li:hover {
    background-color: var(--background-gray);
}

#anime-categories-list li a {
    text-decoration: none;
    color: var(--text-gray3);
}

/*RIGHT SIDE SECTION*/
#anime-more-details {
    margin-top: 20px;
    width: 27%;
    background-color: var(--background-white);
    border: 1px solid var(--border-lightgray);
    border-radius: 3px;
}

#anime-more-details ul {
    list-style: none;
    padding-left: 0px;
}

#anime-more-details ul li {
    display: flex;
    font-size: 13px;
}

#anime-more-details ul li strong {
    max-width: 35%;
    width: 100px;
}

#anime-more-details ul li span {
    max-width: 65%;
    display: inline-flex;
    align-items: center;
    padding-bottom: 5px;
}
