/* You can add global styles to this file, and also import other style files */
:root {
    --techgray: #abb4dc !important;
    --grayonwhite: #e5e5e5;
    --grayonwhiteBorder: #a9a9a9;
    --grayText: #7c7c7c;
    --grayhover: #fafafa;
    --grayBodyBg: #f7f7f7;
    --whiteOnGrayBg: #fff;
    --blueLinkHover: #ad9ff3;
    --blueLink: #674af8;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--grayBodyBg); }

/*Override Material UI styles*/
.mdc-slider__track--inactive {
    border: 1px solid #000 !important;
}

.mat-ripple.mat-mdc-focus-indicator {
    display: none;
}
