<div id="main"></div>
<main class="kitsu-global">
    <div id="explore">
        <div>
            <h2>Explore Anime</h2>
            <div class="kitsu-search-wrap">
                <div class="kitsu-search-icon-wrap">
                    <img class="kitsu-search-icon" src="../../../../assets/img/magnifying-glass.svg" width="18" height="18">
                </div>
                <input class="kitsu-search-bar" type="text" placeholder="What are you searching for?">
            </div>
        </div>
        <div class="kitsu-below-search">
            <small>Or, browse with the <a href="">advanced search</a></small>
        </div>
        <div class="kitsu-explore-wrap">
            <h4>Trending this week</h4>
            <div class="kitsu-poster-list">
                <div class="kitsu-poster-item">
                    <img src="https://media.kitsu.app/anime/poster_images/7442/medium.jpg" />
                </div>
                <div class="kitsu-poster-item">
                    <img src="https://media.kitsu.app/anime/poster_images/7442/medium.jpg" />
                </div>
                <div class="kitsu-poster-item">
                    <img src="https://media.kitsu.app/anime/poster_images/7442/medium.jpg" />
                </div>
                <div class="kitsu-poster-item">
                    <img src="https://media.kitsu.app/anime/poster_images/7442/medium.jpg" />
                </div>
                <div class="kitsu-poster-item">
                    <img src="https://media.kitsu.app/anime/poster_images/7442/medium.jpg" />
                </div>
            </div>
            <div>

            </div>
        </div>
    </div>
    <div id="categories">
        <div id="favorite-categories">
            <h5>MY FAVORITE CATEGORIES</h5>
            <small><strong>Favoriting categories will improve your recommendations</strong></small>
        </div>
        <div id="rest-categories">
            <h5>CATEGORIES</h5>
            <small>
                Romance blah blah
            </small>
        </div>
    </div>
</main>