.kitsu-global {
    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

    .kitsu-search-wrap {
        display: flex;
        border: 1px solid #e5e5e5;
        border-radius: .25rem;
    }

        .kitsu-search-icon-wrap {
            background-color: var(--dropdown);
            padding-top: 13px;
            padding-right: 13px;
            padding-left: 13px;
            padding-bottom: 8px;
        }

            .kitsu-search-icon {
                filter: invert(65%) sepia(6%) saturate(7%) hue-rotate(326deg) brightness(93%) contrast(87%);
            }
        
        .kitsu-search-bar {
            height: 40px;
            width: 100%;
            font-size: 1rem;
            border: none;
            outline: none;
        }
        
        .kitsu-poster-list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

            .kitsu-poster-item {
                width: 18%;
                padding-right: 10px;
                padding-bottom: 10px;
                border-radius: 1rem;
            }
                .poster-position {
                    position: relative;
                }

                .poster-image img {
                    max-width: 100%;
                }
                .poster-overlay {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    bottom: 4px;
                    left: 0;
                    right: 0;
                    border-radius: 3px;
                }
                .poster-overlay:hover {
                    opacity: 1;
                    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.8) 50%,rgba(0,0,0,.8) 100%);
                    background-size: auto 200%;
                }
                .poster-overlay a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                
            /*Ref: https://stackoverflow.com/a/31478004/20829897*/
            .filling-empty-space-childs {
                width: 18%;
                height: 0;
            }

#explore {
    width: 75%;
    padding-right: 30px;
}

#categories {
    position: relative;
    width: 25%;
    top: 40px;
    background-color: var(--dropdown);
    padding: 20px;
    border-radius: 5px;
    z-index: -1;
}
    #categories h5 {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 15px;
        border-bottom: var(--dropdown-border) solid 1px;
    }

