<nav class="kitsu-nav">
    <div class="kitsu-nav-wrapper">
        <div class="kitsu-navbar">
            <div class="kitsu-navbar-item">Kitsu</div>
            <div class="kitsu-navbar-item">Library</div>
            <div class="kitsu-navbar-item" id="kitsu-browse-link">Browse <span>&#x25BC;</span>
                <div class="kitsu-browse-dropdown">
                    <p routerLink="/explore/anime">Anime</p>
                    <p>Manga</p>
                </div>
            </div>
            <div class="kitsu-navbar-item">Groups</div>
            <div class="kitsu-navbar-item">Feedback <span>&#x25BC;</span></div>
        </div>
        <div class="kitsu-navbar second-part">
            <div class="kitsu-navbar-item"><input class="kitsu-search" type="text" placeholder="Search Kitsu"></div>
            <div class="kitsu-navbar-item">
                <div class="kitsu-noti">
                    <img class="kitsu-noti-icon" src="../../../../assets/img/notification.svg" width="15" height="15">
                </div>
            </div>
            <div class="kitsu-navbar-item">
                <div>
                    <img class="kitsu-avatar" src="../../../../assets/img/default_avatar.png" width="20" height="20">
                    <div class="kitsu-account-dropdown">
                        <p>View Profile</p>
                        <p>Settings</p>
                        <p>Logout</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<script src="../../../../assets/js/nav-menu.component.js" type="text/javascript"></script>