.kitsu-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #402F3F;
    color: #999;
}

    .kitsu-nav-wrapper {
        display: flex;
        justify-content: space-between;
        width: 1140px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }
    
        .kitsu-navbar {
            margin: 0px;
            display: flex;
            align-items: center;
            gap: 20px;
        }

            .kitsu-navbar-item {
                cursor: pointer;
                font-size: smaller;
                margin-top: 5px;
                margin-bottom: 5px;
            }
                .kitsu-browse-dropdown {
                    display: none;
                    position: absolute;
                    background-color: #fff;
                    color: #464646;
                    border-radius: .25rem;
                    min-width: 150px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    margin-top: 15px;
                    z-index: 1;
                }

                    .kitsu-browse-dropdown p {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-left: 12%;
                        margin: 0px;
                    }
                    .kitsu-browse-dropdown p:hover {
                        background-color: #faf9fa;
                    }
                    .kitsu-browse-dropdown-show {
                        display: block;
                    }

                .kitsu-account-dropdown {
                    display: none;
                    position: absolute;
                    transform: translateX(-8rem);
                    font-size: smaller;
                    background-color: #fff;
                    color: #464646;
                    border-radius: .25rem;
                    min-width: 150px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    margin-top: 15px;
                    z-index: 1;
                }
                    .kitsu-account-dropdown p {
                        border-bottom: 1px #e5e5e5 solid; 
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-left: 12%;
                        margin: 0px;
                    }
                    .kitsu-account-dropdown p:hover {
                        background-color: #faf9fa;
                    }
                    .kitsu-account-dropdown-show {
                        display: block;
                    }
        
            .kitsu-navbar-item:hover {
                color: RGBA(237, 240, 241, 1);
            }
        
            .kitsu-navbar-item span {
                display: inline-block;
                transform: scaleY(0.5);
            }

            .kitsu-search {
                height: 100%;;
                background-color: #332532;
                color: white;
                border: none;
                border-radius: 5px;
            }
            .kitsu-search:focus {
                outline: none;
                background-color: #241a24;
            }

            .kitsu-noti {
                padding: 1px;
                background-color: #332532;
                border-radius: 50%;
            }
            .kitsu-noti:hover {
                background-color: #241a24;
            }
            .kitsu-noti-icon {
                filter: invert(64%) sepia(1%) saturate(0%) hue-rotate(206deg) brightness(96%) contrast(89%);
            }
            
            .kitsu-avatar {
                border-radius: 50%;
            }

        .second-part {
            align-items: inherit;
        }