<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ANIMETRACKER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" routerLink="../library">Library</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Browse
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="home">Anime</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                <!--An absolute positioned element will appear at the top-left corner of the parent element. So adding this <div> encapsulating the form and dropdown <div>
                    makes it so that the dropdown window doesn't appear on the top-left position of the nav-->
                <form class="d-flex" role="search" [formGroup]="form">
                    <input class="form-control me-2" type="search" placeholder="Search" formControlName="searchControl">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
                <div class="searchDropdown" [ngClass]="{'open':shown && list !== undefined && list.length !== 0}">
                    <div id="dropdownTitle">Search Results</div>
                    <div class="scroller pt-1">
                        @for (item of list; track item.id) {
                            <div class="item">
                                <div class="resultImgContainer"><img class="resultsAnimeImg" src="data:image/jpeg;base64, {{item.imageBase64}}"></div>
                                <div class="resultInfoContainer"><p routerLink="../anime/{{item.id}}">{{item.title}}</p></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <ul class="navbar-nav me-autp mb-2 mb-lg-0 ms-3">
                @if (authService.currentUserSig() === null) {
                    <li class="nav-item"><a class="nav-link cursor" (click)="openSignInModal()">Sign In</a></li>
                    <li class="nav-item"><a class="nav-link cursor" (click)="openSignUpModal()">Sign Up</a></li>
                }
                @else if (authService.currentUserSig() !== undefined) {
                    <li class="nav-item"><a class="nav-link cursor">Profile</a></li>
                    <li class="nav-item"><a class="nav-link cursor" (click)="logout()">Logout</a></li>
                }
            </ul>
        </div>
    </div>
</nav>