<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h4 class="text-center">Update an anime entry</h4>
        <div>
            <label for="title" class="fieldName">Title </label>
            <input id="title" type="text" formControlName="title" class="fieldBox">
            <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="required requiredTxtLeftPadding">
                <div *ngIf="title?.hasError('required')">
                    Title is required.
                </div>
            </div>
        </div>
    
        <div class="mt-2">
            <label for="description" class="fieldName align-top">Description </label>
            <textarea id="description" formControlName="description" rows="6" class="fieldBox"></textarea>
        </div>
    
        <div class="mt-2">
            <label for="image" class="fieldName">Image </label>
            <input id="image" type="file" formControlName="image" (change)="onImagePicked($event)" class="fieldBox">
            <div *ngIf="image?.invalid && (image?.dirty || image?.touched)" class="required requiredTxtLeftPadding">
                <div *ngIf="image?.hasError('required')">
                    Image is required.
                </div>
            </div>
        </div>

        <div class="mt-2">
            <label for="coverImage" class="fieldName">Cover Image </label>
            <input id="coverImage" type="file" formControlName="coverImage" (change)="onCoverImagePicked($event)" class="fieldBox">
        </div>

        <div class="mt-1">
            <small class="requiredTxtLeftPadding fieldBox">NOTE: If no image or cover image is selected, the current one will remain to be used.</small>
        </div>

        <div class="mt-2">
            <div class="fieldName d-inline-block align-top">
                <label for="status">Status </label><br>
                <button type="button" (click)="clearStatus()">Clear</button>
            </div>
            <select id="status" formControlName="status" class="fieldBox">
                <option value="Finished">Finished</option>
                <option value="Airing">Airing</option>
                <option value="Upcoming">Upcoming</option>
            </select>
        </div>

        <div class="mt-2">
            <div class="fieldName d-inline-block align-top">
                <label for="genres">Genres </label><br>
                <button type="button" (click)="clearGenres()">Clear</button>
            </div>
            <select id="genres" formControlName="genres" multiple class="fieldBox">
                @for (cat of availableCategories$.value; track $index) {
                    <option [value]="cat.name">{{cat.name}}</option>
                }
            </select>
        </div>

        <div class="mt-2">
            <label for="year" class="fieldName">Year First Aired </label>
            <input id="year" type="text" formControlName="year" class="fieldBox" placeholder="e.g. 2024">
            <div *ngIf="year?.invalid && (year?.touched || year?.dirty)" class="required">
                <div *ngIf="year?.hasError('pattern')">
                    Year must only contain numbers
                </div>
            </div>
        </div>

        <div class="mt-2">
            <label for="episodes" class="fieldName">Total Episodes </label>
            <input id="episodes" type="text" formControlName="episodes" class="fieldBox" placeholder="e.g. 12, 24, 500, etc.">
            <div *ngIf="episodes?.invalid && (episodes?.touched || episodes?.dirty)" class="required">
                <div *ngIf="episodes?.hasError('pattern')">
                    Number of episodes must be a number
                </div>
            </div>
        </div>

        <div class="mt-2">
            <label for="mediaType" class="fieldName">Media Type (TV, Movie, etc)</label>
            <input id="mediaType" type="text" formControlName="mediaType" class="fieldBox" placeholder="e.g. 'TV', 'Movie', 'ONA' ">
        </div>

        <div class="mt-2">
            <label for="score" class="fieldName">Score </label>
            <input id="score" type="text" formControlName="score" class="fieldBox" placeholder="0-100">
            <div *ngIf="score?.invalid && (score?.touched || score?.dirty)" class="required">
                <div *ngIf="score?.hasError('pattern')">
                    Score must be a number
                </div>
            </div>
        </div>

        <div class="mt-2">
            <label for="englishTitle" class="fieldName">English Title</label>
            <input id="englishTitle" type="text" formControlName="englishTitle" class="fieldBox">
        </div>

        <div class="mt-2">
            <label for="japaneseTitle" class="fieldName">Japanese Title</label>
            <input id="japaneseTitle" type="text" formControlName="japaneseTitle" class="fieldBox">
        </div>

        <div class="mt-2">
            <label for="japaneseRomaji" class="fieldName">Japanese Title (Romaji)</label>
            <input id="japaneseRomaji" type="text" formControlName="japaneseRomaji" class="fieldBox">
        </div>

        <div class="mt-2">
            <label for="season" class="fieldName">Season</label>
            <input id="season" type="text" formControlName="season" class="fieldBox" placeholder="e.g. 'Season Year'">
        </div>

        <div class="mt-2">
            <label for="startAirDate" class="fieldName">Start Air Date</label>
            <input id="startAirDate" type="date" formControlName="startAirDate" class="fieldBox">
        </div>

        <div class="mt-2">
            <label for="endAirDate" class="fieldName">End Air Date</label>
            <input id="endAirDate" type="date" formControlName="endAirDate" class="fieldBox">
        </div>

        <div class="mt-2">
            <label for="rating" class="fieldName">Rating</label>
            <input id="rating" type="text" formControlName="rating" class="fieldBox" placeholder="e.g. 'PG', 'R' ">
        </div>

        <div class="mt-2">
            <label for="episodeLength" class="fieldName">Episode Length (min)</label>
            <input id="episodeLength" type="number" formControlName="episodeLength" class="fieldBox">
        </div>
    
        <div class="text-center mt-2">
            <button type="submit" [disabled]="!form.valid">Update Anime</button>
        </div>
    </form>
</div>