#coverPhoto {
    height: 350px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.defaultCoverPhoto {
    background: url("https://kitsu.app/images/default_cover-22e5f56b17aeced6dc7f69c8d422a1ab.png");
}

#animeTabs {
    background-color: var(--background-white);
}

#infoBar {
    margin-left: 16%;
}

#infoBar ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

#infoBar ul li {
    border: 1px solid var(--border-lightgray);
    padding: 8px;
}

#infoBar ul li:hover {
    background-color: var(--background-gray);
}

#imgContainer {
    width: 16%;
}

#imgContainer img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
    border-radius: 5px;
}

.editPanelRow {
    display: flex;
    margin-top: 10px;
}

.editPanelRow > * {
    flex: 1;
}

#editPanelHead {
    border-bottom: 1px solid var(--text-gray3);
}

#episodeCounter {
	max-width: 35px;
	font-size: 14px;
	height: 20px;
}

.increaseProgress {
    cursor: pointer;
    color: var(--link-turquoise);
}

.increaseProgress:hover {
    color: var(--hover-orange);
}

#editPanelUpdBtn {
    background-color: var(--link-turquoise);
    border: none;
    border-radius: 3px;
    padding: 0px;
    color: white;
    max-width: 80px;
    font-size: 14px;
}

#editPanelUpdBtn:hover {
    background-color: var(--hover-turquoise2);
}

#editPanelDelBtnCont {
    padding-left: 15px;
}

#editPanelDelBtn {
    border: 1px solid var(--border-lightgray);
    border-radius: 3px;
}

#editPanelDelBtn i {
    padding-left: 5px;
    padding-right: 5px;
}

#editPanelDelBtn:hover {
    background-color: #ffc2c2;
    color: #630000;
}


#imgContainer #rating {
    font-size: 14px;
    max-width: 140px;
}
#tabCont {
    width: 84%;
}

.libraryBtn {
    width: 100%;
    border-style: none;
    border-radius: 5px;
    color: var(--background-white);
    padding-top: 3px;
    padding-bottom: 3px;
}

#completedBtn {
    background-color: #09a703;
}
#completedBtn:hover {
    background-color: #069501;
}

#startedWatchingBtn {
    background-color: #2b79c2;
}
#startedWatchingBtn:hover {
    background-color: #2668a6;
}

#wantToWatchBtn {
    background-color: #a235b3;
}
#wantToWatchBtn:hover {
    background-color: #862b94;
}

#completedInfo {
    color: var(--text-gray);
}

#completedInfo span {
    color: #09a703;
}

#wantToWatchInfo {
    color: var(--text-gray);
}

#wantToWatchInfo span {
    color: #a235b3;
}

#startedWatchingInfo {
    color: var(--text-gray);
}

#startedWatchingInfo span {
    color: #2b79c2;
}