<div *ngIf="anime$ | async; let anime">
    <div *ngIf="anime.coverImageBase64 !== null; else defaultCover" id="coverPhoto" style='background: url(data:image/jpeg;base64,{{anime.coverImageBase64}})'></div>
    <ng-template #defaultCover>
        <div id="coverPhoto" class="defaultCoverPhoto"></div>
    </ng-template>
    <div class="container" style="border: 1px solid red;">
        <div id="infoBar" class="py-2">Summary</div> 
    </div>
    <div class="container d-flex" style="border: 1px solid blue;">
        <div id="imgContainer" style="border: 1px solid green;">
            <img src="data:image/jpeg;base64, {{anime.imageBase64}}" />
            <div class="mt-2" style="border: 1px solid orange;">
                <!--Anime not in user's library-->
                @if(libraryEntry.status === null) {
                    <div><input class="libraryBtn mb-1" id="completedBtn" type="button" value="Completed" (click)="setAsCompleted(anime)"/></div>
                    <div><input class="libraryBtn mb-1" id="startedWatchingBtn" type="button" value="Started Watching" (click)="setAsStartedWatching(anime)"/></div>
                    <div><input class="libraryBtn mb-1" id="wantToWatchBtn" type="button" value="Want to Watch" (click)="setAsWantToWatch(anime)"/></div>
                }
                <!--User completed anime-->
                @else {
                    @if(libraryEntry.status === "completed") {
                        <div id="completedInfo" class="mb-1"><strong>You have <span>Completed</span> this anime.</strong></div>
                    }
                    <!--User added to Wants to Watch -->
                    @else if(libraryEntry.status === "planning") {
                        <div id="wantToWatchInfo" class="mb-1"><strong>Saved in <span>Want to Watch</span></strong></div>
                    }
                    <!--User started watching anime-->
                    @else if(libraryEntry.status === "watching") {
                        <div id="startedWatchingInfo" class="mb-1"><strong>You are <span>Currently Watching</span> this anime.</strong></div>
                    }
                    <form method="post" [formGroup]="form" (submit)="saveLibraryEntryUpdates(anime)">
                        <label for="episodeCounter">Episode Progress: </label>
                        <div class="mb-1">
                            <input formControlName="episodeProgress" type="number" id="episodeCounter" min="0" [max]="anime.episodes"><span>/ {{anime.episodes}}</span>
                        </div>
                        <div class="mb-1">
                            <label for="rating">Rating: </label>
                            <select formControlName="rating" id="rating">
                                <option value="">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="mb-1">
                            <label for="changeStatus">Change status: </label>
                            <select formControlName="status" id="rating">
                                <option value="completed">Completed</option>
                                <option value="watching">Currently Watching</option>
                                <option value="planning">Want to Watch</option>
                            </select>
                        </div>
                        <input type="submit" value="Save changes" />
                        <a href="javascript:void(0);" (click)="deleteEntry(anime)"><small>Delete entry</small></a>
                    </form>
                }
            </div>
        </div>
        <div id="animeInfo" class="ps-3">
            <div id="title">
                <strong>{{anime.title}}</strong> 
                <span id="info" class="ps-2"><strong>{{anime.year}} | {{anime.mediaType}} | {{anime.episodes}} Episodes</strong></span>
                <span id="admin-link" class="ps-2"><a routerLink="../../update-anime/{{anime.id}}">Update entry</a></span>
            </div>
            <div><strong id="highRating">Overall Rating {{anime.score}}%</strong></div>
            <div id="description" class="mt-2">{{anime.description}}</div>
            <ul id="genres" class="d-flex flex-wrap flex-row ps-0 mt-5">
                @for (cat of anime.genres; track cat) {
                    <li class="px-2 py-1 me-2">{{cat}}</li>
                }
            </ul>
        </div>
    </div>
</div>