#editEntryModalContainer {
    padding: 20px;
}

#editModalTitle {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    border-bottom: 1px solid var(--border-lightgray);
}

#closeModal {
    cursor: pointer;
    font-size: 1.5rem;
}

.flex {
    display: flex;
    padding: 5px;
}
.flex > div {
    flex: 1;
}

#removeFromLibraryBtn {
    border: 1px solid var(--border-lightgray);
    border-radius: 3px;
}

#removeFromLibraryBtn:hover {
    background-color: #ffc2c2;
    color: #630000;
}

