#favorites-section {
    padding: 15px 20px;
    background-color: var(--background-gray);
}

#search-section {
    margin-bottom: 20px;
}

#search-section input {
    width: 100%;
}

.favorite-record-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 2px 6px 2px 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid var(--border-lightgray2);
    border-radius: 3px;
    background-color: var(--background-white);
}

.favorite-info-section {
    display: flex;
}

.favorite-photo-section {
    width: 55px;
    margin-right: 10px;
    height: 45px;
    overflow: hidden;
}

.favorite-photo-section img {
    width: 100%;
}

.favorite-title-section {
    margin-top: auto;
    margin-bottom: auto;
}

.favorite-remove-section {
    margin-top: auto;
    margin-bottom: auto;
}

.favorite-remove-section a {
    text-decoration: none;
    color: inherit;
}

#btn-section {
    padding: 15px;
}

#btn-section input {
    display: block;
    background-color: var(--link-turquoise);
    margin-left: auto; 
    margin-right: 0;
    border-style: none;
    border-radius: 3px;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
}

#btn-section input:hover {
    background-color: var(--hover-turquoise2);
}