.navbar {
    background-color: var(--background-burgundy) !important;
}

.navbar-brand {
    color: var(--text-white)
}

#navbarSupportedContent a {
    color: var(--text-gray2);
    font-size: 14px;
}

#navbarSupportedContent > ul > li > a:hover {
    color: var(--hover-white);
}

#navSearch {
    position: relative;
}

#navSearch i {
    position: absolute;
    top: 4px;
    left: 10px;
    font-size: 12px;
    color: #a99fa8;
}

#mediaSearch {
    background-color: var(--background-burgundy2);
    color: var(--text-white2);
    padding-left: 30px;
    border: none;
    border-radius: 3px;
    width: 200px;
    font-size: 13px;
    height: 25px;
}

#mediaSearch:active, #mediaSearch:focus {
    background-color: var(--background-burgundy3);
    outline-color: transparent;
    outline-style: none;
}

.cursor {
    cursor: pointer;
}
/*Copied from home.component.css. Renamed dropdown -> searchDropdown to disambiguiate from Bootstrap's class*/
.searchDropdown {
    position: absolute;
    width: 400px;
    padding: 0px 0px;
    background: var(--background-white);
    border: 1px solid #ccc;
    margin-top: -1px;
    z-index: 9999;
    box-sizing: border-box;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 6px 12px rgba(0,0,0,.1);
}

#dropdownTitle {
    padding: 0px 20px;
    padding-left: 20px;
    padding-left: 50px;
    border-bottom: 1px solid #868686;

}

.scroller {
    max-height: 150px;
    overflow-y: auto;
}

.item {
    display: flex;
    position: relative;
    /* height: 40px; */
    line-height: 40px;
    padding: 0px 20px;
    /* padding-left: 20px;
    padding-left: 50px; */
    text-transform: capitalize;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.item:hover {
    background-color: var(--hover-gray);
}

.open {
    opacity: 1;
    visibility: visible;
}

.resultImgContainer {
    width: 15%;
}

.resultsAnimeImg {
    width: 100%;
    height: 100%;
}

.resultInfoContainer {
    padding-left: 10px;
}

.resultInfoContainer p {
    top: 0;
}