<div class="container">
    <div class="row">
        <div class="col-sm-9" style="border: 1px red solid;">
            <div class="row" style="border: blue 1px solid;">
                <div class="col-sm-12"><h3 class="pt-4">{{currCategory$.value?.name}} Anime</h3></div>
                <div class="col-sm-12">
                    <form id="searchForm" action="" [formGroup]="form">
                        <i class="bi bi-search"></i>
                        <input id="mediaSearchLarge" type="text" placeholder="What are you searching for?" formControlName="searchControl">
                    </form>
                    <div class="dropdown" [ngClass]="{'open':shown && list !== undefined && list.length !== 0}">
                        <div id="dropdownTitle">Search Results</div>
                        <div class="scroller pt-1">
                            @for (item of list; track item.id) {
                                <div class="item">
                                    <div class="resultImgContainer"><img class="resultsAnimeImg" src="data:image/jpeg;base64, {{item.imageBase64}}"></div>
                                    <div class="resultInfoContainer"><p routerLink="../anime/{{item.id}}">{{item.title}}</p></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-2"><small>Or, browse with the <a id="advancedLink" routerLink="../../search">advanced search</a></small></div>
            </div>
            <div class="row" style="border: 1px blue solid;">
                <div class="col-sm-12"><h6 class="pt-4">Check out these popular anime</h6></div>
                <div class="d-flex flex-row flex-wrap">
                    <!--foreach... (max 5)-->
                    @for (anime of animes$ | async; track anime.id) {
                        <div class="animeCard pe-2 pb-2">
                            <div class="imgContainer" 
                                (mouseenter)="this.showCardTitle = anime.id" 
                                (mouseleave)="this.showCardTitle = 0" 
                                routerLink="/anime/{{anime.id}}">
                                <img class="animeImg" src="data:image/jpeg;base64, {{anime.imageBase64}}" />
                                @if (showCardTitle == anime.id) {
                                    <div class="animeCardInfo ps-1">{{anime.title}}</div>
                                }
                            </div>
                        </div>
                    }
                </div> 
            </div>
        </div>
        <div class="col-sm-3" style="border: 1px orange solid">
            <div class="mx-1 mt-3 rounded" style="background-color: var(--background-white)">
                <div class="p-4">
                    <div class="col-sm-12" id="cats"><h6>CATEGORIES</h6></div>
                    <div>
                        <ul id="categoryList" *ngIf="categories$ | async; let categories">
                            @for (cat of categories; track cat) {
                                <li><a href="javascript:void(0);" routerLink="../category/{{cat.name}}">{{cat.name}}</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>