#media-cover {
    height: 400px;
    background: url('https://kitsu.app/images/default_cover-22e5f56b17aeced6dc7f69c8d422a1ab.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tabs-wrap {
    width: 100%;
    box-shadow: 0 0 1px var(--dropdown-shadow);
}

#tabs {
    display: flex;
    list-style: none;
    padding-left: 27%;
}
#tabs a:first-child {
    border-left: 1px solid var(--dropdown-border);
}
#tabs a {
    display: block;
    border-right: 1px solid var(--dropdown-border);
    padding: 10px 20px;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
    background-color: var(--tab-bg);
}
#tabs a:hover {
    background-color: var(--tab-bg-hover);
}

#anime-details-wrap {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#anime-image {
    padding-top: 2%;
    width: 17%;
}
#anime-image img {
    border-radius: .25rem;
    width: 160px;
    height: 242px;
}
#anime-details {
    padding-left: .5%;
    width: 83%;
}
#media-title h3, h5 {
    display: inline;
}
#media-tags ul {
    list-style: none;
    padding: 0;
}
#media-tags ul li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
    font-size: 12px;
	background: var(--dropdown);
	border: 1px solid var(--dropdown-border-2);
	border-radius: 3px;
	padding: 4px 8px;
}