<div>
    <div id="top-section">
        <div id="media-cover"></div>
        <div id="tabs-wrap">
            <div id="tabs">
                <a href="javascript: void(0);">Summary</a>
                <a href="javascript: void(0);">Episodes</a>
                <a href="javascript: void(0);">Characters</a>
                <a href="javascript: void(0);">Reactions</a>
                <a href="javascript: void(0);">Franchise</a>
            </div>
        </div>
    </div>
    <div id="anime-details-wrap">
        <div id="anime-details">
            <div id="details-left">
                <section id="media-title">
                    <h3>One Piece</h3>
                    &nbsp;
                    <h5>1999</h5>
                </section>
                <section id="media-rating">
                    <span>83.33% Community Approval</span>
                </section>
                <section id="media-description">
                    <p>
                        Gol D. Roger was known as the "Pirate King," the strongest and most infamous being to have sailed the Grand Line. The
                        capture and death of Roger by the World Government brought a change throughout the world. His last words before his
                        death revealed the existence of the greatest treasure in the world, One Piece. It was this revelation that brought about
                        the Grand Age of Pirates, men who dreamed of finding One Piece—which promises an unlimited amount of riches and fame—and
                        quite possibly the pinnacle of glory and the title of the Pirate King.
                        Enter Monkey D. Luffy, a 17-year-old boy who defies your standard definition of a pirate. Rather than the popular
                        persona of a wicked, hardened, toothless pirate ransacking villages for fun, Luffy’s reason for being a pirate is one of
                        pure wonder: the thought of an exciting adventure that leads him to intriguing people and ultimately, the promised
                        treasure. Following in the footsteps of his childhood hero, Luffy and his crew travel across the Grand Line,
                        experiencing crazy adventures, unveiling dark mysteries and battling strong enemies, all in order to reach the most
                        coveted of all fortunes—One Piece.
                        [Written by MAL Rewrite]
                    </p>
                </section>
                <section id="media-tags">
                    <ul>
                        <li>Absurdist Humor</li>&nbsp;
                        <li>Action</li>&nbsp;
                        <li>Adventure</li>&nbsp;
                        <li>Comedy</li>&nbsp;
                        <li>Crime</li>&nbsp;
                        <li>Fantasy</li>&nbsp;
                        <li>Fantasy World</li>&nbsp;
                        <li>Friendship</li>&nbsp;
                        <li>Martial Arts</li>&nbsp;
                        <li>Navy</li>&nbsp;
                    </ul>
                </section>
                <section id="media-rankings">
                    <p>Rank #14 (Most Popular Anime)</p>
                    <p>Rank #37 (Highest Rated Anime)</p>
                </section>
            </div>
            <div id="details-right">
                
            </div>
        </div>
    </div>
</div>