<div>
    <div id="top-section">
        <div id="media-cover"></div>
        <div id="tabs-wrap">
            <div id="tabs">
                <a href="javascript: void(0);">Summary</a>
            </div>
        </div>
    </div>
    <div id="anime-details-wrap">
        <div id="anime-image">
            <img src="data:image/jpeg;base64, {{anime?.imageBase64}}">
        </div>
        <div id="anime-details">
                <section id="media-title">
                    <h2>{{anime?.title}}</h2>
                </section>
                <section id="media-description">
                    <p>
                        {{anime?.description}}
                    </p>
                </section>
                <section id="media-tags">
                    <ul>
                        <li *ngFor="let genre of anime?.genres">{{genre}}</li>
                    </ul>
                </section>
    </div>
</div>