#animeInfo {
    width: 73%;
}

#moreDetails {
    margin-top: 20px;
    width: 27%;
    background-color: var(--background-white);
    border: 1px solid var(--border-lightgray);
    border-radius: 3px;
}


#moreDetails ul {
    list-style: none;
    padding-left: 0px;
}

#moreDetails ul li {
    display: flex;
    font-size: 13px;
}

#moreDetails ul li strong {
    max-width: 35%;
    width: 100px;
}

#moreDetails ul li span {
    max-width: 65%;
    display: inline-flex;
    align-items: center;
    padding-bottom: 5px;
}

#title {
    font-size: 1.5rem;
}

#info {
    font-size: 0.9rem;
    color: var(--text-gray);
}

#highRating {
    color: #06c332;
}

#genres {
    list-style: none;
}

#genres li {
    background-color: var(--background-white);
    border: 1px solid var(--border-lightgray);
}

#genres li:hover {
    background-color: var(--background-gray);
}

#genres li a {
    text-decoration: none;
    color: var(--text-gray3);
}

#admin-link {
    font-size: 0.9rem;
}
