<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h4 class="text-center">Add an episode to an anime</h4>

        <div class="mt-2">
            <label for="animeId" class="fieldName">Anime ID </label>
            <input id="animeId" type="hidden" formControlName="animeId" class="fieldBox">
            <div *ngIf="animeId?.invalid && (animeId?.touched || animeId?.dirty)" class="required">
                <div *ngIf="animeId?.hasError('pattern')">
                    Anime Id must only contain numbers
                </div>
                <div *ngIf="animeId?.hasError('required')">
                    Anime ID is required.
                </div>
            </div>
        </div>
        <div class="mt-2 d-flex">
            <label for="matchingAnime" class="fieldName">Anime</label>
            <div class="fieldBox">
                <input id="matchingAnime" type="text" formControlName="matchingAnime">
                <div class="dropdown" [ngClass]="{'open':shown && list !== undefined && list.length !== 0}">
                    <div class="scroller">
                        @for (item of list; track item.id) {
                            <div class="item">
                                <span class="imgSquare" style="border-radius: 3px;"><div>
                                    <img class="resultsAnimeImg" src="data:image/jpeg;base64, {{item.imageBase64}}"></div>
                                </span>
                                <div class="resultInfoContainer"><p (click)="selectAnimeForEpisodeAddition(item)">{{item.title}}</p></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        @if (selectedAnime$.value !== null) {
            <div class="mt-2 d-flex">
                <span class="fieldName">Selected Anime</span>
                <div class="fieldBox">
                    <div id="selectedAnimePill">
                        <span class="imgSquare" style="border-radius: 3px;"><div>
                            <img class="resultsAnimeImg" src="data:image/jpeg;base64, {{selectedAnime$.value.imageBase64}}"></div>
                        </span>
                        <div id="selectedAnimeTitleCont"><span>{{selectedAnime$.value.title}}</span></div>
                        <div id="deselectBtn"><i (click)="deselectAnime()" class="bi bi-x-circle"></i></div>
                    </div>
                </div>
            </div>
        }

        <div class="mt-2">
            <label for="epNumber" class="fieldName">Episode Number</label>
            <input id="epNumber" type="text" formControlName="epNumber" class="fieldBox">
            <div *ngIf="epNumber?.invalid && (epNumber?.touched || epNumber?.dirty)" class="required">
                <div *ngIf="epNumber?.hasError('pattern')">
                    Episode Number must be a number
                </div>
            </div>
        </div>

        <div class="mt-2">
            <label for="title" class="fieldName">Title </label>
            <input id="title" type="text" formControlName="title" class="fieldBox">
        </div>
    
        <div class="mt-2">
            <label for="description" class="fieldName align-top">Description </label>
            <textarea id="description" formControlName="description" rows="6" class="fieldBox"></textarea>
        </div>        
        
        <div class="mt-2">
            <label for="airDate" class="fieldName">Air Date</label>
            <input id="airDate" type="date" formControlName="airDate" class="fieldBox">
        </div>
        
        <div class="mt-2">
            <label for="japaneseTitle" class="fieldName">Japanese Title</label>
            <input id="japaneseTitle" type="text" formControlName="japaneseTitle" class="fieldBox">
        </div>
    
        <div class="text-center mt-2">
            <button type="submit" [disabled]="!form.valid">Add Episode</button>
        </div>
    </form>
</div>