<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div id="form-heading">
        <span class="cursor" (click)="goToParentPage()"><i class="bi bi-arrow-left-short"></i></span>
        <span><strong>Add Franchise</strong></span>
    </div>

    <div class="mt-2">
        <p-floatLabel variant="on">
            <input pInputText id="name" type="text" formControlName="name" pSize="small">
            <label for="name">Name</label>
        </p-floatLabel>
        <div *ngIf="name?.invalid && (name?.touched || name?.dirty)" class="required">
            <div *ngIf="name?.hasError('required')">
                Name is required.
            </div>
        </div>
    </div>

    <div id="add-btn-section" class="text-center mt-2">
        <button id="add-btn" type="submit" [disabled]="!form.valid">Add Franchise</button>
    </div>
</form>