<div class="modal-body">
    <h5><strong>Welcome back!</strong></h5>
    <p>Login to your account below. If you need an account, create one</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="text-center mb-3">
            <input id="email" placeholder="Email" formControlName="email">
            <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="required">
                <div *ngIf="email?.hasError('required')">
                    Email is required
                </div>
            </div>
        </div>
        <div class="text-center mb-3"><input id="password" placeholder="Password" formControlName="password">
            <div *ngIf="password?.invalid && (password?.touched || password?.dirty)" class="required">
                <div *ngIf="password?.hasError('required')">
                    Password is required
                </div>
            </div>
        </div>
        <div class="text-center"><button type="submit" [disabled]="!form.valid">Login</button></div>
        @if(errMsg !== "") {
            <div class="text-center required">{{errMsg}}</div>
        }
    </form>
</div>