<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h4 class="text-center">Add a franchise</h4>

        <div class="mt-2">
            <label for="name" class="fieldName">Name</label>
            <input id="name" type="text" formControlName="name" class="fieldBox">
            <div *ngIf="name?.invalid && (name?.touched || name?.dirty)" class="required">
                <div *ngIf="name?.hasError('required')">
                    Name is required.
                </div>
            </div>
        </div>
    
        <div class="text-center mt-2">
            <button type="submit" [disabled]="!form.valid">Add Franchise</button>
        </div>
    </form>
</div>