.required {
    color: red;
}

form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.fieldName {
    width: 20%;
}

.requiredTxtLeftPadding {
    position: relative;
    left: 20%;
}

.fieldBox {
    width: 80%;
}