<div>
    <div><h5>Manage Episodes</h5></div>
    <div id="admin-search-section">
        <div id="add-btn-section"><button (click)="addEpisode()"><i class="bi bi-plus-square"></i> Add</button></div>
        <form [formGroup]="form">
            <input id="admin-search-field" type="text" formControlName="searchControl" placeholder="Search for franchises...">
        </form>
    </div>
    <div id="admin-anime-list">
        <div id="table-container">
            <table id="admin-anime-table">
                <thead>
                    <tr>
                        <th>Ep. Number</th>
                        <th>Episode</th><!--TODO add episode dto and anime title property in it-->
                        <th class="actions-cell">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="filteredSearchList$ | async; let searchList">
                        @for (episode of searchList; track episode.id) {
                            <tr>
                                <td>{{ episode.number }}</td>
                                <td>{{ episode.title }}</td>
                                <td class="actions-cell">
                                    <span (click)="editEpisode(episode.id!)" class="me-1 cursor"><i class="bi bi-pencil-fill"></i></span>
                                    <span (click)="deleteEpisode(episode.id!)" class="ms-1 cursor"><i class="bi bi-trash3"></i></span>
                                </td>
                            </tr>
                        }
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>